# Generated for serviceman. Edit as needed. Keep this line for 'serviceman list'.
# https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html

[Unit]
Description=EX_TITLE EX_DESC
Documentation=EX_URL

[Service]
# never stop trying to restart a failed service
StartLimitIntervalSec=0

# allow the restart to delay if it's unsuccessful
# warning: keep the max low as the backoff never resets
Restart=always
RestartSec=0.1
RestartSteps=10
RestartMaxDelaySec=5

Environment="PATH=EX_PATH"
WorkingDirectory=EX_WORKDIR
ExecStart=EX_EXECSTART_ARGS
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=default.target
