<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated for serviceman. Edit as needed. Keep this line for 'serviceman list'. -->
<!-- https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>EX_RDNS</string>
	<key>ProgramArguments</key>
	<array>
		<string>EX_PLIST_ARG0</string>
	</array>

	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>EX_PATH</string>
	</dict>

	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<!--dict>
		<key>Crashed</key>
		<true/>
		<key>NetworkState</key>
		<true/>
		<key>SuccessfulExit</key>
		<false/>
	</dict-->

	<key>WorkingDirectory</key>
	<string>EX_WORKDIR</string>

	<key>StandardOutPath</key>
	<string>EX_HOME/.local/share/EX_NAME/var/log/EX_NAME.log</string>
	<key>StandardErrorPath</key>
	<string>EX_HOME/.local/share/EX_NAME/var/log/EX_NAME.log</string>
</dict>
</plist>
